@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  /* Suavizado de fuentes para que se vea premium */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
